body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #fdbb2d, #22c1c3);
}

.calculator .display {
  display: flex;
  width: 403px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 10px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(5, 100px);
  gap: 1px;
}
.keyboard div {
  background-color: rgb(235, 231, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.keyboard div:first-of-type {
  grid-column: 2 span;
}

.keyboard div:last-of-type {
  grid-column: 2 span;
}
.keyboard div:hover {
  background-color: #fff;
  cursor: pointer;
}
.display {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
}
.previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
  height: 100%;
}
.current-operand {
  color: #fff;
  font-size: 2.5rem;
  height: 100%;
}
