body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.calculator .display {
  display: flex;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 100px);
  gap: 1px;
}
.keyboard div {
  background-color: rgb(235, 231, 231);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.keyboard div:first-of-type {
  grid-column: 2 span;
}

.keyboard div:last-of-type {
  grid-column: 2 span;
}
.keyboard div:hover {
  background-color: #fff;
  cursor: pointer;
}
