.title {
  text-align: center;
  font-size: 50px;
}

input.search {
  all: unset;
  background-color: black;
  border-radius: 30px;
  width: 400px;
  height: 50px;
  margin: 30px;
  padding-left: 20px;
}

.tools {
  display: flex;

  gap: 10px;
}
.tools > div {
  width: 60px;
  height: 60px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  cursor: pointer;
  transition: all;
}
.tools i {
  font-size: 30px;
  width: 100%;
  z-index: -1;
}

.hide {
  visibility: hidden !important;
}
.hidden {
  display: none !important;
}

.back {
  position: absolute;
  cursor: pointer;
  margin: 50px;
  font-size: 30px;
  bottom: -30px;
}

@keyframes sizeBigger {
  from {
    width: 60px;
    height: 60px;
  }
  to {
    width: 450px;
    height: 350px;
  }
}

.focused {
  animation: sizeBigger 0.5s forwards;
  cursor: auto !important;
}

.button {
  z-index: -1;
  display: flex;
}
