.title {
  text-align: center;
  font-size: 50px;
}

input.search {
  all: unset;
  background-color: white;
  border-radius: 30px;
  width: 400px;
  height: 50px;
  margin: 30px;
}

.tools {
  display: flex;
  gap: 10px;
}
.tools div {
  width: 60px;
  height: 60px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}
.tools i {
  font-size: 30px;
  width: 100%;
  z-index: -1;
}

.hidden {
  display: none !important;
}

.back {
  position: absolute;
  cursor: pointer;
  margin: 50px;
  font-size: 30px;
  bottom: 0;
}
